// * colors.styl

// ** Solarized colors

// From https://github.com/altercation/solarized

base03 = #181825
base02 = #1e1e2e
base01 = #313244
base00 = #45475a
base0 = #7f849c
base1 = #9399b2
base2 = #cdd6f4
base3 = #bac2de
yellow = #f9e2af
orange = #fab387
red = #f38ba8
magenta = #f5c2e7
violet = #cba6f7
blue = #89b4fa
cyan = #94e2d5
green = #a6e3a1
